<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sso.service.dao.UserMapper">

  <resultMap id="BaseResultMap" type="org.projectshop.pojo.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="passwordSalt" jdbcType="VARCHAR" property="passwordsalt" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="picurl" jdbcType="VARCHAR" property="picurl" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="moblie" jdbcType="VARCHAR" property="moblie" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="registert_date" jdbcType="TIMESTAMP" property="registertDate" />
    <result column="locktime" jdbcType="TIMESTAMP" property="locktime" />
    <result column="lastlogin_date" jdbcType="TIMESTAMP" property="lastloginDate" />
    <result column="errorcount" jdbcType="INTEGER" property="errorcount" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>

  <select id="findOnlyOne" resultType="org.projectshop.pojo.User">
    SELECT * from user where username=#{1}
  </select>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, password, passwordSalt, name, sex, picurl, signature, summary, moblie,
    email, registert_date, locktime, lastlogin_date, errorcount, create_date, modified_date, 
    valid, address
  </sql>

  <select id="selectByExample" parameterType="org.projectshop.pojo.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>


  <delete id="deleteByExample" parameterType="org.projectshop.pojo.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>


  <insert id="insert" parameterType="org.projectshop.pojo.User">
    insert into user (id, username, password,
      passwordSalt, name, sex, 
      picurl, signature, summary, 
      moblie, email, registert_date, 
      locktime, lastlogin_date, errorcount, 
      create_date, modified_date, valid, 
      address)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{passwordsalt,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{picurl,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{moblie,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{registertDate,jdbcType=TIMESTAMP}, 
      #{locktime,jdbcType=TIMESTAMP}, #{lastloginDate,jdbcType=TIMESTAMP}, #{errorcount,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.projectshop.pojo.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="passwordsalt != null">
        passwordSalt,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="picurl != null">
        picurl,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="moblie != null">
        moblie,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="registertDate != null">
        registert_date,
      </if>
      <if test="locktime != null">
        locktime,
      </if>
      <if test="lastloginDate != null">
        lastlogin_date,
      </if>
      <if test="errorcount != null">
        errorcount,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="passwordsalt != null">
        #{passwordsalt,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="picurl != null">
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="moblie != null">
        #{moblie,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="registertDate != null">
        #{registertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="locktime != null">
        #{locktime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginDate != null">
        #{lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="errorcount != null">
        #{errorcount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.projectshop.pojo.UserExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.passwordsalt != null">
        passwordSalt = #{record.passwordsalt,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.picurl != null">
        picurl = #{record.picurl,jdbcType=VARCHAR},
      </if>
      <if test="record.signature != null">
        signature = #{record.signature,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null">
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.moblie != null">
        moblie = #{record.moblie,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.registertDate != null">
        registert_date = #{record.registertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.locktime != null">
        locktime = #{record.locktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastloginDate != null">
        lastlogin_date = #{record.lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.errorcount != null">
        errorcount = #{record.errorcount,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update user
    set id = #{record.id,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      passwordSalt = #{record.passwordsalt,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      picurl = #{record.picurl,jdbcType=VARCHAR},
      signature = #{record.signature,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      moblie = #{record.moblie,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      registert_date = #{record.registertDate,jdbcType=TIMESTAMP},
      locktime = #{record.locktime,jdbcType=TIMESTAMP},
      lastlogin_date = #{record.lastloginDate,jdbcType=TIMESTAMP},
      errorcount = #{record.errorcount,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      address = #{record.address,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.projectshop.pojo.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="passwordsalt != null">
        passwordSalt = #{passwordsalt,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="picurl != null">
        picurl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="moblie != null">
        moblie = #{moblie,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="registertDate != null">
        registert_date = #{registertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="locktime != null">
        locktime = #{locktime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginDate != null">
        lastlogin_date = #{lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="errorcount != null">
        errorcount = #{errorcount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.projectshop.pojo.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      passwordSalt = #{passwordsalt,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      picurl = #{picurl,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      moblie = #{moblie,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      registert_date = #{registertDate,jdbcType=TIMESTAMP},
      locktime = #{locktime,jdbcType=TIMESTAMP},
      lastlogin_date = #{lastloginDate,jdbcType=TIMESTAMP},
      errorcount = #{errorcount,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>